# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Local data / databases
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

#folder and files
embeddings
monitoring.db
books_pipeline.duckdb